@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions

@{
    // Get 'About Us' page
    var aboutUsPage = Umbraco.ContentAtRoot()
                           .FirstOrDefault(x => x.ContentType.Alias == "aboutUs");


    // Get NotFoundPage under About Us
    var notFoundPage = aboutUsPage?.Children.FirstOrDefault(x => x.ContentType.Alias == "notFoundPage");

   

    // URL to use in footer links
    var notFoundUrl = notFoundPage?.Url() ?? "/"; // fallback to home
}

<div class="footer">
    <div class="k2s-green-container">
        <div class="ant-row css-240cud" style="margin-left:-8px; margin-right:-8px;">

            <!-- Logo -->
            <div class="ant-col gutter-row coltype ant-col-xs-24 ant-col-md-4 css-240cud" style="padding-left:8px; padding-right:8px;">
                <div class="brandlogo_footer">
                    <img alt="Footer Logo" src="/images/footer-logo.png" />
                </div>
            </div>

            <!-- Footer Links -->
            <div class="ant-col gutter-row coltype ant-col-xs-24 ant-col-md-15 css-240cud" style="padding-left:8px; padding-right:8px;">
                <ul class="footerlink row">
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/solutions">Solutions</a></li>
                    <li><a href="/booking-consultation">Booking &amp; Consultation</a></li>
                </ul>
            </div>

            <!-- Copyright & Privacy -->
<div class="ant-col gutter-row coltype ant-col-xs-24 ant-col-md-5 css-240cud" style="padding-left: 8px; padding-right: 8px;">                <div class="copyright pd10">© K2S Consulting 2025</div>
                <div class="privacy-link">
    <a href="/about-us/not-found-page/">Privacy Policy</a>
    <a href="/about-us/not-found-page/">Legal</a>
    <a href="/about-us/not-found-page/">Terms of Use</a>
</div>

            </div>

        </div>
    </div>
</div>
<style>
    @@media (min-width: 768px) {
    :where(.css-240cud).ant-col-md-4 {
        --ant-display: block;
        display: block;
        display: var(--ant-display);
        flex: 0 0 16.666666666666664%;
        max-width: 16.666666666666664%;
    }
}
@@media (min-width: 768px) {
    :where(.css-240cud).ant-col-md-5 {
        --ant-display: block;
        display: block;
        display: var(--ant-display);
        flex: 0 0 20.833333333333336%;
        max-width: 20.833333333333336%;
    }
}
@@media (min-width: 768px) {
    :where(.css-240cud).ant-col-md-15 {
        --ant-display: block;
        display: block;
        display: var(--ant-display);
        flex: 0 0 62.5%;
        max-width: 62.5%;
    }
}
    

</style>