@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="footer">
     <div class="k2s-green-container">
      <div class="ant-row css-240cud" style="margin-left: -8px; margin-right: -8px;">
       <div class="ant-col gutter-row coltype ant-col-xs-24 ant-col-md-4 css-240cud" style="padding-left: 8px; padding-right: 8px;">
        <div class="brandlogo_footer">
         <img alt="Footer Logo" src="/images/footer-logo.png"/>
        </div>
       </div>
       <div class="ant-col gutter-row coltype ant-col-xs-24 ant-col-md-15 css-240cud" style="padding-left: 8px; padding-right: 8px;">
        <ul class="footerlink row">
         <li>
          <a href="/about-us">
           About Us
          </a>
         </li>
         <li>
          <a href="/solutions">
           Solutions
          </a>
         </li>
         <li>
          <a href="/booking-consultation">
           Booking&Consultation
          </a>
         </li>
        </ul>
       </div>
       <div class="ant-col gutter-row coltype ant-col-xs-24 ant-col-md-5 css-240cud" style="padding-left: 8px; padding-right: 8px;">
        <div class="copyright pd10">
         © K2S Consulting 2025
        </div>
        <div class="privacy-link">
         <a href="/privacy-policy">
          Privacy Policy
         </a>
         <a href="/legal">
          Legal
         </a>
         <a href="/terms-of-use">
          Terms of Use
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 
