@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.Blocks


<div class="header-title center mt100">
    <h2 class="title-center black">@Model.Value("whyGreenTitle")</h2>
    <p class="lightblack">@Model.Value("whyGreenDescription") </p>
</div>

            <div class="ant-row solutions-grid pdt50 css-240cud">
    @foreach (var item in Model.Value<IEnumerable<BlockListItem>>("WhyK2sGreen"))
    {
<div class="ant-col ant-col-6">
            <div class="columnStyle2 s2">
                @{
    var title = item.Content.Value<string>("counter");
    var description = item.Content.Value<string>("description");
}
<div class="counter">@title</div>
<p>@description</p>

            </div>
        </div>
    }
</div>
