//USING FOR TRAVEL

//Typography
$typography: "F37 Ginger";

// Global variables
$body-font-size: 16px !default;
$body-line-height: 1.5 !default;

$black :#253858;
$white :#ffffff;
$gray:rgba(233, 234, 245, 1);
$blue:#0065ff;
$pink:#cb0969;
$lightpink:#FFEBF8;
