@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.BookingConsultation>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master1.cshtml";
}
 <main>
     
      @await Html.PartialAsync("_HeroSection")
            @await Html.PartialAsync("_WhoFor")
@await Html.PartialAsync("blocklist/ConsultationSteps")            
@await Html.PartialAsync("blocklist/_Serviceslider")
            @await Html.PartialAsync("_FaqSection")
         </main>
