@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent;

@{
    Layout = "Master1.cshtml";

   }


    <main>
        @* Dynamically render all Home page sections/partials *@
        @await Html.PartialAsync("Hero")
        @await Html.PartialAsync("CleanEnergy")
        @await Html.PartialAsync("Sustainability Stats")
        @await Html.PartialAsync("FutureEnergy")
        @await Html.PartialAsync("Solution")
        @await Html.PartialAsync("SmartApproach")
        @await Html.PartialAsync("New Blog List")
    </main>

